.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload {
    width: 210px;
    margin: 0 auto;
    height: 100px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.upload__title {
    color: var(--blue);
}

.upload input[type="file"] {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

.button-upload {
    margin: 24px auto;
}
.preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}
.preview--img {
    padding-bottom: 24px;
}

.spinner-wrapper {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1120;
    opacity: 20;
}

.upload--spinner {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1150;
}

.spinner {
    margin: 0 auto;
}